@CHARSET "UTF-8";
div.com-everesearch .number {text-align:right;}
div.com-everesearch .list {width: 100%}
div.com-everesearch .summary {width: 100%}
div.com-everesearch table.summary caption {text-align:left;}

.icon-16-research {
	 background-image: url(../../../administrator/components/com_everesearch/assets/icon-16-research.png);
}

.icon-32-research {
	 background-image: url(../../../administrator/components/com_everesearch/assets/icon-32-research.png);
}
.icon-48-research {
	 background-image: url(../../../administrator/components/com_everesearch/assets/icon-48-research.png);
}

.icon-64-research {
	 background-image: url(../../../administrator/components/com_everesearch/assets/icon-64-research.png);
}