.icon-48-character {
	background: url(icon-48-character.png) no-repeat;
}

.icon-48-corporation {
	background: url(icon-48-corporation.png) no-repeat;
}

.icon-48-alliance {
	background: url(icon-48-alliance.png) no-repeat;
}

.icon-48-eve {
	background: url(icon-48-eve.png) no-repeat;
}

.icon-48-account {
	background: url(icon-48-account.png) no-repeat;
}

.icon-48-schedule {
	background: url(icon-48-schedule.png) no-repeat;
}

.icon-48-encryption {
	background: url(icon-48-encryption.png) no-repeat;
}

.icon-32-eve {
	 background-image: url(icon-32-eve.png);
}

.icon-32-account {
	 background-image: url(icon-32-account.png);
}

.icon-32-run {
	 background-image: url(icon-32-run.png);
}

.icon-32-alliance {
	 background-image: url(icon-32-alliance.png);
}

.icon-32-corporation {
	 background-image: url(icon-32-corporation.png);
}

.icon-32-character {
	 background-image: url(icon-32-character.png);
}

.icon-32-default {
	 background-image: url(icon-32-default.png);
}

.icon-32-default-cancel {
	 background-image: url(icon-32-default-cancel.png);
}

.icon-32-schedule {
	 background-image: url(icon-32-schedule.png);
}

.icon-16-star-yellow {
	 background-image: url(icon-star-yellow-16.png);
}

.icon-16-star-blue {
	 background-image: url(icon-star-blue-16.png);
}

.apiStatus {
	background-position: 0 50%; 
	background-repeat: no-repeat;
	padding-left: 16px;
}
.apiStatus-Invalid {
	background-image: url(status-red.png);
}

.apiStatus-Limited {
	background-image: url(status-yellow.png);
}

.apiStatus-Full {
	background-image: url(status-green.png);
}

.apiStatus-Unknown {
	background-image: url(status-white.png);
}

.apiStatus-Inactive {
	background-image: url(status-white.png);
}

#eveoverview {
	float: right; 
	width: 45%;	
}
#cpanel {
	width: 55%;
}

#cpanel div {
	float:left;
}

.fltlft {
	float:left;
}

.fltrt {
	float:right;
}
