<?xml version="1.0" encoding="UTF-8"?>
<config>
	<params>
		<param name="show_owner" type="radio" label="Show Owner" description="Show owner name and his/her characters" default="0">
			<option value="0">NO</option>
			<option value="1">YES</option>
		</param>
		<param name="show_all" type="radio" label="Show All characters" description="Show all characters, including those not from owner corporation in character sheet" default="0">
			<option value="0">NO</option>
			<option value="1">YES</option>
		</param>
	</params>
</config>
