.icon-48-research {
	background: url(icon-48-research.png) no-repeat;
}

.icon-32-research {
	 background-image: url(icon-32-research.png);
}

.icon-32-reftypes {
	 background-image: url(icon-32-reftypes.png);
}
