@CHARSET "UTF-8";

div.eve-component-list+div {
	clear: both;
}

div.eve-component-list>div {
	float: left;
	margin: 10px
}

div.eve-component-list .component-icon {
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-repeat: no-repeat;
	width: 64px;
	height: 64px;
}

div.eve-component-list div p {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

div.eve-item-list+div {
	clear: both
}

div.eve-item-list div {
	float: left;
	margin: 10px;
	width: 128px;
}

div.eve-item-list div img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

div.eve-item-list div p {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	height: 3em;
}

.apischedule {
	width: 50%;
	float: left;
}

.sectionaccess {
	width: 50%;
	float: left;
}