<?xml version="1.0" encoding="UTF-8"?>
<config>
	<params>
		<param name="portraitsize" type="list" default="256"
			label="Com_Evecharsheet_Portrait_Size_Label" description="Com_Evecharsheet_Portrait_Size_Desc">
			<option value="32">32 x 32</option>
			<option value="64">64 x 64</option>
			<option value="128">128 x 128</option>
			<option value="200">200 x 200</option>
			<option value="256">256 x256</option>
		</param>
		<param name="show_balance" type="radio" default="1"
			label="Com_Evecharsheet_Show_Balance_Label" description="Com_Evecharsheet_Show_Balance_Desc">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</param>
		<param name="show_clone" type="radio" default="1"
			label="Com_Evecharsheet_Show_Clone_Label" description="Com_Evecharsheet_Show_Clone_Desc" >
			<option value="0">No</option>
			<option value="1">Yes</option>
		</param>
		<param name="show_attributes" type="radio" default="1"
			label="Com_Evecharsheet_Show_Attributes_Label" description="Com_Evecharsheet_Show_Attributes_Desc">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</param>
		<param name="show_skills" type="radio" default="1"
			label="Com_Evecharsheet_Show_Skills_Label" description="Com_Evecharsheet_Show_Skills_Desc" >
			<option value="0">No</option>
			<option value="1">Yes</option>
		</param>
		<param name="show_certificates" type="radio" default="1"
			label="Com_Evecharsheet_Show_Certificates_Label" description="Com_Evecharsheet_Show_Certificates_Desc">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</param>
		<param name="show_roles" type="radio" default="1"
			label="Com_Evecharsheet_Show_Roles_Label" description="Com_Evecharsheet_Show_Roles_Desc">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</param>
		<param name="show_titles" type="radio" default="1"
			label="Com_Evecharsheet_Show_Titles_Label" description="Com_Evecharsheet_Show_Titles_Desc">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</param>
		<param name="show_skillqueue" type="radio" default="1"
			label="Com_Evecharsheet_Show_Skill_Queue_Label" description="Com_Evecharsheet_Show_Skill_Queue_Desc">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</param>

		<param name="access_balance" type="sql" default="0" 
			label="Com_Evecharsheet_Access_Balance_Label" description="Com_Evecharsheet_Access_Balance_Desc" 
			key_field="id" value_field="name" query="SELECT id, name FROM #__groups ORDER BY id" />
		<param name="access_clone" type="sql" default="0" 
			label="Com_Evecharsheet_Access_Clone_Label" description="Com_Evecharsheet_Access_Clone_Desc" 
			key_field="id" value_field="name" query="SELECT id, name FROM #__groups ORDER BY id" />
		<param name="access_attributes" type="sql" default="0" 
			label="Com_Evecharsheet_Access_Attributes_Label" description="Com_Evecharsheet_Access_Attributes_Desc" 
			key_field="id" value_field="name" query="SELECT id, name FROM #__groups ORDER BY id" />
		<param name="access_skills" type="sql" default="0" 
			label="Com_Evecharsheet_Access_Skills_Label" description="Com_Evecharsheet_Access_Skills_Desc" 
			key_field="id" value_field="name" query="SELECT id, name FROM #__groups ORDER BY id" />
		<param name="access_certificates" type="sql" default="0" 
			label="Com_Evecharsheet_Access_Certificates_Label" description="Com_Evecharsheet_Access_Certificates_Desc"
			key_field="id" value_field="name" query="SELECT id, name FROM #__groups ORDER BY id" />
		<param name="access_roles" type="sql" default="0" 
			label="Com_Evecharsheet_Access_Roles_Label" description="Com_Evecharsheet_Access_Roles_Desc" 
			key_field="id" value_field="name" query="SELECT id, name FROM #__groups ORDER BY id" />
		<param name="access_titles" type="sql" default="0" 
			label="Com_Evecharsheet_Access_Titles_Label" description="Com_Evecharsheet_Access_Titles_Desc" 
			key_field="id" value_field="name" query="SELECT id, name FROM #__groups ORDER BY id" />
		<param name="access_skillqueue" type="sql" default="0" 
			label="Com_Evecharsheet_Access_Skill_Queue_Label" description="Com_Evecharsheet_Access_Skill_Queue_Desc" 
			key_field="id" value_field="name" query="SELECT id, name FROM #__groups ORDER BY id" />
	</params>
</config>
