@CHARSET "UTF-8";
div.evecharsheet-skills td.skill-label {width: 40em;}
div.evecharsheet-certificates td.certificate-label {width: 40em;}

div.heading-expanded {
	background: url(../images/collapse.png) no-repeat;
	padding-left: 20px;
	cursor: pointer;
}

div.heading-collapsed {
	background: url(../images/expand.png) no-repeat;
	padding-left: 20px;
	cursor: pointer;
}

div.evecharsheet-list div {
	float: left;
	margin: 10px 
}

div.evecharsheet-list div img {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

div.evecharsheet-list div p {
	display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.icon-16-charsheet {
	 background-image: url(../../../administrator/components/com_eve/assets/icon-16-character.png);
}
.icon-32-charsheet {
	 background-image: url(../../../administrator/components/com_eve/assets/icon-32-character.png);
}
.icon-48-charsheet {
	 background-image: url(../../../administrator/components/com_eve/assets/icon-48-character.png);
}
.icon-64-charsheet {
	 background-image: url(../../../administrator/components/com_eve/assets/icon-64-character.png);
}